$background-colour: rgb(56, 55, 55);
$title-colour: #c7ceea;
$grid-colour: #daeaf6;
$grid-colour-clicked: #90b8d9;
$number-colour-1: #b5ead7;
$number-colour-2: #ffdac1;
$number-colour-3: #ffb7b2;
$mine-colour: #ff9aa2;
$reset-button: #ff9994;
$reset-button-hover: #ff817a;
$reset-button-click: #ff6961;
